@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    font-family: "Manrope", "Encode Sans Expanded", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 8px;
    /* Chiều rộng thanh cuộn */
    opacity: 0;
    /* Ẩn thanh cuộn mặc định */
    transition: opacity 0.3s ease;
    /* Thêm hiệu ứng độ mờ */
}

/* Hiển thị thanh cuộn khi chuột di chuyển vào */
::-webkit-scrollbar:hover {
    opacity: 1;
    /* Hiển thị thanh cuộn */
}

/* Thiết lập màu sắc cho các phần của thanh cuộn */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #bebebe;
    /* Màu của thanh cuộn */
    border-radius: 4px;
    /* Bo tròn các góc */
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
    /* Màu của thanh cuộn khi di chuột qua */
}

.pagination {
    background-color: white;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    font-weight: 700;
    display: block;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    color: #12cd54;
    text-decoration: none;
    transition: background-color 0.2s;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination a:hover {
    background-color: #e9ecef;
    color: #12cd54;
}

.pagination .active a {
    background-color: #d0f4db;
    color: #12cd54;
    border-color: #12cd54;
}

.pagination .active a:hover {
    background-color: #d0f4db;
    color: #12cd54;
    border-color: #12cd54;
}

.pagination .disabled a {
    color: #6c757d;
    pointer-events: none;
}

.custom-modal {
    max-width: 90%;
}

@media (max-width: 640px) {
    .custom-modal {
        max-width: 100%;
        min-height: 100vh;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .custom-modal {
        max-width: 95%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .custom-modal {
        max-width: 80%;
    }
}

@media (min-width: 1281px) {
    .custom-modal {
        max-width: 70%;
    }
}